ServerName ${HOSTNAME}


<VirtualHost _default_:${HTTPD_GUI_PORT}>
    RewriteEngine on
    RewriteCond %{REQUEST_METHOD} ^(TRACE|TRACK)
    RewriteRule .* - [F]
    RewriteRule ^/cgi-bin/main.cgi /manage/dashboard [R=permanent,L]
		
#	RewriteRule ^/manage/status/status\.dashboard\.(.*) /cgi-bin/dash.pl?plugin=$1 [R=permanent,L]
#	RewriteRule ^/manage/status/status\.uplinksdaemon\.data.* /cgi-bin/dash.pl?plugin=uplinks [R=permanent,L]
#	RewriteRule ^/manage/status/status\.collectd\.singlevalues\?timeout=[0-9]\&plugin=(.*) /cgi-bin/dash.pl?plugin=$1 [R=permanent,L]
	
#	RewriteRule ^/manage/status/status.dashboard.hardware /cgi-bin/dash.pl?plugin=hardware [R=permanent,L]
#	RewriteRule ^/manage/status/status.uplinksdaemon.data\?(.*) /cgi-bin/dash.pl?plugin=uplinks&$1 [R=permanent,L] # timeout=2
#	RewriteRule ^/manage/status/status.collectd.singlevalues\?(.*) /cgi-bin/dash.pl?$1 [R=permanent,L] # timeout=4&plugin=service
#	RewriteRule ^/manage/status/status.collectd.singlevalues\?(.*) /cgi-bin/dash.pl?$1 [R=permanent,L] # timeout=4&plugin=network
#	RewriteRule ^/manage/status/status.dashboard.system /cgi-bin/dash.pl?plugin=system [R=permanent,L]
#	RewriteRule ^/manage/status/status.dashboard.signatures /cgi-bin/dash.pl?plugin=signatures [R=permanent,L]

    DocumentRoot /home/httpd/html
    ServerAdmin root@localhost
    ErrorLog /var/log/httpd/error_log
    TransferLog /var/log/httpd/httpd_access
    SSLEngine on
    SSLHonorCipherOrder on
    SSLProtocol all -SSLv2 -SSLv3
    SSLCipherSuite ${SSL_CHIPERS}
    SSLCertificateFile ${CERT}
    SSLCertificateKeyFile ${KEY}

    SetEnv HOME /home/nobody
    SetEnvIf User-Agent ".*MSIE.*" \
    nokeepalive ssl-unclean-shutdown \
    downgrade-1.0 force-response-1.0
    CustomLog /var/log/httpd/ssl_request_log \
    "%t %h %{SSL_PROTOCOL}x %{SSL_CIPHER}x \"%r\" %b"

    ScriptAlias /cgi-bin/ /home/httpd/cgi-bin/


    <Files ~ "\.(cgi|shtml?)$">
        SSLOptions +StdEnvVars
    </Files>
    
	<Directory /home/httpd/cgi-bin/smartcard/>
        AllowOverride All
        Deny from All
    </Directory>
	
    <DirectoryMatch "/home/httpd/html/(errors|graphs|sgraph)">
        AuthName "Restricted"
        AuthType Basic
        AuthUserFile $USERS
        AuthGroupFile $GROUPS
        Require group admin
    </DirectoryMatch>
    <Directory /home/httpd/html/errors>
        Satisfy Any
        Allow from 127.0.0.1
    </Directory>
    <Directory /home/httpd/cgi-bin>
        AllowOverride All
        Options None
        AuthName "Restricted"
        AuthType Basic
        AuthUserFile $USERS
        AuthGroupFile $GROUPS
        <Files download/>
            Satisfy Any
            Allow from All
        </Files>
		<Files dash.pl>
            Satisfy Any
            Allow from All
        </Files>
        <Files chpasswd.cgi>
            Satisfy Any
            Allow from All
        </Files>
        <Files template.cgi>
            Satisfy Any
            Allow from 127.0.0.1
        </Files>
        <Files ~ "\.(cgi|shtml?)$">
            Require group admin
        </Files>
    </Directory>

    Alias /backup /var/backups
    <Directory /var/backups>
        Options Multiviews FollowSymLinks
        AllowOverride None
        AuthName "Restricted"
        AuthType Basic
        AuthUserFile $USERS
        AuthGroupFile $GROUPS
        Require group admin
    </Directory>

    include /etc/httpd/conf.d/*.conf
</VirtualHost>


#if $HTTPD_HTTPPORT_ENABLED == 'on'
<VirtualHost _default_:80>
    RewriteEngine on
    RewriteCond %{REQUEST_METHOD} ^(TRACE|TRACK)
    RewriteRule .* - [F]

    include /etc/httpd/conf.plain/*.conf
</VirtualHost>
#end if
