#if $ENABLED
#for server in $SERVERS.itervalues()
#if not server['enabled']
    #continue
#end if
#if not server.get('multicore') 
    #continue
#end if
#set lb_ports = '%s-%s' % (min(server['loadbalancing_ports']), max(server['loadbalancing_ports']))
#if $server['openvpn_bind_address'] and $server['openvpn_bind_address'] != '0.0.0.0'
on,$server['openvpn_protocol'],,any,,$server['openvpn_bind_address'],$server['openvpn_port'],$server['openvpn_bind_address'],$lb_ports,DNAT,,,ALLOW,on
#else
on,$server['openvpn_protocol'],,any,,0.0.0.0/0,$server['openvpn_port'],$GREEN.settings.address,$lb_ports,DNAT,,,ALLOW,on
#end if
#end for
#end if
