#if $CLIENTS
    #for $client in $CLIENTS
        #if $client.ENABLED == 'on' and $client.NAT_OUT == 'on' and $client.ROUTETYPE == 'routed'
on,,,,,VPN:$client.NAME,MASQUERADE,NAT VPN tunnel $client.NAME,,
        #end if
    #end for
#end if
