#*

### definitions

*#
#set global dnat_target_tmpl = $nat_target
#set global filter_target_tmpl = $filter_target
#if $nat_target in ['RETURN']
#set global filter_target_tmpl = 'RETURN'
#end if
#if $nat_target in ['DNAT']
#if $filter_target in ['DROP', 'REJECT']
#set global dnat_target_tmpl = 'RETURN'
#end if
#end if
#set global dnat_port = $target_port
#*


### creates DNAT rule


*#
iptables -t nat -A PORTFW #slurp
  #if $src_range or $dst_range
-m iprange #slurp
  #end if
  #if $src_ip != ''
    #if $src_range
--src-range $src_ip #slurp
    #else if $src_mac
-m mac --mac-source $src_ip #slurp
    #else
-s $src_ip #slurp
    #end if
  #end if
  #if $physdev_in
-m physdev #slurp
  #end if
  #if $src_dev != ''
    #if $physdev_in
--physdev-in $src_dev #slurp
    #else
-i $src_dev #slurp
    #end if
  #end if
  #if $dst_range
--dst-range $dst_ip #slurp
  #else
-d $dst_ip #slurp
  #end if
-j $dnat_target_tmpl #slurp
  #if $proto != ''
-p $proto #slurp
  #end if
  #if $proto == 'tcp' or $proto == 'udp'
    #if $dst_port != ''
--dport $dst_port #slurp
    #end if
  #else
    #set dnat_port = ''
  #end if
  #if $dnat_target_tmpl == 'DNAT'
--to-destination $target_ip#slurp
    #if $dnat_port != ''
     #set dash_port = $colon2dash($dnat_port)
:$dash_port #slurp
#if '-' in $dash_port and $random
--random #slurp
#end if
    #end if
  #else if $dnat_target_tmpl == 'NETMAP'
--to $target_ip#slurp
  #end if

#*




### creates access rule



*#
#def accessRule(islog=False)
iptables -t filter -A PORTFWACCESS #slurp
  #if $src_range or $target_range
-m iprange #slurp
  #end if
  #if $src_ip != ''
    #if $src_range
--src-range $src_ip #slurp
    #else if $src_mac
-m mac --mac-source $src_ip #slurp
    #else
-s $src_ip #slurp
    #end if
  #end if
  #if $ipsecin
-m policy --dir in --pol ipsec #slurp
  #end if
  #if $physdev_in
-m physdev #slurp
  #end if
  #if $src_dev != ''
    #if $physdev_in
--physdev-in $src_dev #slurp
    #else
-i $src_dev #slurp
    #end if
  #end if
  #if $target_range
--dst-range $target_ip #slurp
  #else
-d $target_ip #slurp
  #end if
  #if $proto != ''
-p $proto #slurp
    #if $proto == 'tcp' or $proto == 'udp'
      #if $target_port != ''
--dport $target_port #slurp
      #else if $dst_port != ''
--dport $dst_port #slurp
      #end if
    #end if
  #end if
  #if $islog
-j NFLOG --nflog-prefix 'PORTFWACCESS:$filter_target_tmpl:$i' #slurp
  #else
-j $filter_target_tmpl #slurp
  #end if
#end def
#if $dnat_target_tmpl != 'NETMAP'
  #if $log
$accessRule($log)
  #end if
$accessRule()
#end if
#try
#include "/var/efw/dnat/rules.custom.tmpl"
#except
#pass
#end try
