    <tr>
      <td colspan="5"><b><font color="blue"><TMPL_VAR NAME=nw_lan2></font></b> <font color="#666666">(<TMPL_VAR NAME=nw_lan2_descr>)</font>:</td>
    </tr>

    <tr>
      <td><TMPL_VAR NAME=nw_ip>:</td>
      <td>
        <input type="text" name="DISPLAY_LAN2_ADDRESS" value="<TMPL_VAR NAME=NW_VAL_LAN2_ADDRESS>" size="15">
      </td>
      <td>&nbsp;</td>
      <td><TMPL_VAR NAME=nw_mask>:</td>
      <td>
        <select name="DISPLAY_LAN2_NETMASK">
  <TMPL_LOOP NAME=NW_VAL_DISPLAY_LAN2_NETMASK_LOOP>
          <option value="<TMPL_VAR NAME=MASK_LOOP_VALUE>" <TMPL_VAR NAME=MASK_LOOP_SELECTED>><TMPL_VAR NAME=MASK_LOOP_CAPTION></option>
  </TMPL_LOOP>
        </select>
      </td>
    </tr>

    <tr>
      <td colspan="5"><TMPL_VAR NAME=nw_additionalips>:</td>
    </tr>
    <tr>
      <td colspan="5">
        <textarea cols="30" rows="3" name="DISPLAY_LAN2_ADDITIONAL"><TMPL_VAR NAME=NW_VAL_DISPLAY_LAN2_ADDITIONAL></textarea>
      </td>
    </tr>

    <tr>
      <td colspan="5">&nbsp;</td>
    </tr>

    <tr>
      <td><TMPL_VAR NAME=nw_interface>:</td>
      <td colspan="4">&nbsp;</td>
    </tr>
    <tr>
      <td colspan="5">
        <table>
          <tr>
            <td>&nbsp;</td>
            <td align="center"><b><TMPL_VAR NAME=nw_port></b></td>
            <td align="center"><b><TMPL_VAR NAME=nw_link></b></td>
            <td align="center"><b><TMPL_VAR NAME=nw_description></b></td>
            <td align="center"><b><TMPL_VAR NAME=nw_mac></b></td>
            <td align="center"><b><TMPL_VAR NAME=nw_device></b></td>
          </tr>

  <TMPL_LOOP NAME=NW_VAL_IFACE_LAN2_LOOP>
          <tr class="<TMPL_VAR NAME=DEV_LOOP_BGCOLOR>">
            <td bgcolor="<TMPL_VAR NAME=DEV_LOOP_ZONECOLOR>">
            <TMPL_IF EXPR="(DEV_LOOP_CHECKED eq 'checked') and (DEV_LOOP_DISABLED eq 'disabled')">
                <input name="LAN2_DEVICES" type="hidden" value="<TMPL_VAR NAME=DEV_LOOP_NAME>">
            </TMPL_IF>
            <TMPL_IF EXPR="DEV_LOOP_HIDE eq 'hide'">
              &nbsp;
            <TMPL_ELSE>
              <input name="LAN2_DEVICES" type="checkbox" value="<TMPL_VAR NAME=DEV_LOOP_NAME>" <TMPL_VAR NAME=DEV_LOOP_CHECKED> <TMPL_VAR NAME=DEV_LOOP_DISABLED>>
            </TMPL_IF>
            </td>
            <td align="center"><TMPL_VAR NAME=DEV_LOOP_PORT></td>
            <td>
                <img src="/images/<TMPL_VAR NAME=DEV_LOOP_LINKICON>.png" title="<TMPL_VAR NAME=DEV_LOOP_LINKCAPTION>" alt="<TMPL_VAR NAME=DEV_LOOP_LINKCAPTION>">
            </td>
            <td><TMPL_VAR NAME=DEV_LOOP_SHORT_DESC>
                <a href="javascript:void(0);" onmouseover="return overlib('<TMPL_VAR NAME=DEV_LOOP_DESCRIPTION>', STICKY, MOUSEOFF);" onmouseout="return nd();">?</a>
            </td>

            <td><TMPL_VAR NAME=DEV_LOOP_MAC></td>
            <td><TMPL_VAR NAME=DEV_LOOP_DEVICE></td>
          </tr>
  </TMPL_LOOP>
        </table>
      </td>
    </tr>

  <tr>
    <td colspan="5">&nbsp;</td>
  </tr>
  <tr>
    <td colspan="5">&nbsp;</td>
  </tr>