<TMPL_VAR NAME=NW_VAL_title>
<br>
<TMPL_VAR NAME=NW_VAL_subtitle>
<br>
<TMPL_IF EXPR="NW_VAL_error_message ne ''">
  <font color="red"><TMPL_VAR NAME=NW_VAL_error_message></font>
</TMPL_IF>
<br>
<br>

<table border="0" cols="2">
<form action="<TMPL_VAR NAME=NW_VAL_self>" method="post">
  <input type="hidden" name="session_id" value="<TMPL_VAR NAME=NW_VAL_session_id>">
  <input type="hidden" name="step" value="<TMPL_VAR NAME=NW_VAL_step>">
  <input type="hidden" name="substep" value="<TMPL_VAR NAME=NW_VAL_substep>">
  <input type="hidden" name="lever" value="<TMPL_VAR NAME=NW_VAL_lever>">

    <tr>
      <td><TMPL_VAR NAME=nw_interface>:</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td colspan="2">
        <table>
          <tr>
            <td>&nbsp;</td>
            <td align="center"><b><TMPL_VAR NAME=nw_port></b></td>
            <td align="center"><b><TMPL_VAR NAME=nw_link></b></td>
            <td align="center"><b><TMPL_VAR NAME=nw_description></b></td>
            <td align="center"><b><TMPL_VAR NAME=nw_mac></b></td>
            <td align="center"><b><TMPL_VAR NAME=nw_device></b></td>
          </tr>

  <TMPL_LOOP NAME=NW_VAL_IFACE_WAN_LOOP>
          <tr class="<TMPL_VAR NAME=DEV_LOOP_BGCOLOR>">

            <td bgcolor="<TMPL_VAR NAME=DEV_LOOP_ZONECOLOR>">
            <TMPL_IF EXPR="(DEV_LOOP_CHECKED eq 'checked') and (DEV_LOOP_DISABLED eq 'disabled')">
                <input name="WAN_DEVICES" type="hidden" value="<TMPL_VAR NAME=DEV_LOOP_NAME>">
            </TMPL_IF>
            <TMPL_IF EXPR="DEV_LOOP_HIDE eq 'hide'">
              &nbsp;
            <TMPL_ELSE>
              <input name="WAN_DEVICES" type="radio" value="<TMPL_VAR NAME=DEV_LOOP_NAME>" <TMPL_VAR NAME=DEV_LOOP_CHECKED> <TMPL_VAR NAME=DEV_LOOP_DISABLED>>
            </TMPL_IF>
            </td>
            <td align="center"><TMPL_VAR NAME=DEV_LOOP_PORT></td>
            <td>
                <img src="/images/<TMPL_VAR NAME=DEV_LOOP_LINKICON>.png" title="<TMPL_VAR NAME=DEV_LOOP_LINKCAPTION>" alt="<TMPL_VAR NAME=DEV_LOOP_LINKCAPTION>">
            </td>
            <td><TMPL_VAR NAME=DEV_LOOP_SHORT_DESC>
                <a href="javascript:void(0);" onmouseover="return overlib('<TMPL_VAR NAME=DEV_LOOP_DESCRIPTION>', STICKY, MOUSEOFF);" onmouseout="return nd();">?</a>
            </td>

            <td><TMPL_VAR NAME=DEV_LOOP_MAC></td>
            <td><TMPL_VAR NAME=DEV_LOOP_DEVICE></td>
          </tr>
  </TMPL_LOOP>
        </table>
      </td>
  </tr>

  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td colspan="2"><TMPL_VAR NAME=nw_additionalips>:</td>
  </tr>

  <tr colspan="2">
    <td>
      <textarea cols="30" rows="3" name="DISPLAY_WAN_ADDITIONAL"><TMPL_VAR NAME=NW_VAL_DISPLAY_WAN_ADDITIONAL></textarea>
    </td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td><TMPL_VAR NAME=username>:</td>
    <td>
      <input type="text" name="USERNAME" value="<TMPL_VAR NAME=NW_VAL_USERNAME>" size="15">
    </td>
  </tr>

  <tr>
    <td><TMPL_VAR NAME=password>:</td>
    <td>
      <input type="text" name="PASSWORD" value="<TMPL_VAR NAME=NW_VAL_PASSWORD>" size="15">
    </td>
  </tr>

  <tr>
    <td><TMPL_VAR NAME=nw_auth_method>:</td>
    <td>
      <select name="AUTH_N">
        <option value="0" <TMPL_IF EXPR="NW_VAL_AUTH_N == 0">selected</TMPL_IF>><TMPL_VAR NAME=nw_papchap></option>
        <option value="1" <TMPL_IF EXPR="NW_VAL_AUTH_N == 1">selected</TMPL_IF>><TMPL_VAR NAME=nw_pap></option>
        <option value="2" <TMPL_IF EXPR="NW_VAL_AUTH_N == 2">selected</TMPL_IF>><TMPL_VAR NAME=nw_chap></option>
      </select>
    </td>
  </tr>
  <tr>
    <td><TMPL_VAR NAME=nw_mtu>:&nbsp;<img src='/images/blob.png' alt='*' /></td>
    <td>
      <input type="text" name="MTU" value="<TMPL_VAR NAME=NW_VAL_MTU>" size="15">
    </td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>

  <tr>
    <td><TMPL_VAR NAME=nw_dns_quest>:</td>
    <td>
      <input type="radio" name="DNS_N" value="0" <TMPL_VAR NAME=NW_VAL_DNS_SELECTED_0>/><TMPL_VAR NAME=nw_automatic>&nbsp;
      <input type="radio" name="DNS_N" value="1" <TMPL_VAR NAME=NW_VAL_DNS_SELECTED_1>/><TMPL_VAR NAME=nw_manual>
    </td>
  </tr>

  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>

  <tr>
    <td><TMPL_VAR NAME=service>:&nbsp;<img src='/images/blob.png' alt='*' /></td>
    <td>
      <input type="text" name="SERVICENAME" value="<TMPL_VAR NAME=NW_VAL_SERVICENAME>" size="15">
    </td>
  </tr>

  <tr>
    <td><TMPL_VAR NAME=nw_concentrator_name>:&nbsp;<img src='/images/blob.png' alt='*' /></td>
    <td>
      <input type="text" name="CONCENTRATORNAME" value="<TMPL_VAR NAME=NW_VAL_CONCENTRATORNAME>" size="15">
    </td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>

  <tr>
    <td class='base' colspan="2">
      <img src='/images/blob.png' alt ='*' align='top' />&nbsp;
      <font class='base'><TMPL_VAR NAME=nw_field_blank></font>
    </td>
  </tr>

</table>

<br>
<br>
<input type="submit" name="prev" value="<TMPL_VAR NAME=nw_prev>">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input type="submit" name="cancel" value="<TMPL_VAR NAME=nw_cancel>">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input type="submit" name="next" value="<TMPL_VAR NAME=nw_next>">
</form>
