#if $ENABLED
#for server in $SERVERS.itervalues()
#if not server['enabled']
    #continue
#end if
#if not server.get('multicore')
    #continue
#end if
#set lb_ports = '%s:%s' % (min(server['loadbalancing_ports']), max(server['loadbalancing_ports']))
$server['openvpn_protocol'],0.0.0.0/0,$lb_ports,on,0.0.0.0/0,,off,OPENVPN,ACCEPT,,
#end for
#end if
