#set transparent = False
#for $zone in $TRANSPARENT_ZONES
  #set transparent = True
on,udp&tcp,53,,,,$zone,DNAT,$zone,53,redirection,$LOG_FIREWALL,DNS-PROXY
on,udp&tcp,53,,,,ZONEMEMBERS:$zone,DNAT,$zone,53,redirection,$LOG_FIREWALL,DNS-PROXY
#end for
#if $transparent
  #for $bypass in $BYPASSRULES
on,udp&tcp,53,$bypass.SRC,$bypass.DST,$bypass.MAC,,RETURN,,,bypass,,
  #end for
#end if
#if $DNSMASQ_ANTISPYWARE
  #for $zone in $ZONES
    #set target = $zone
    #if $zone == "VPN:ANY"
      #set target = "GREEN"
    #end if
on,tcp,443,,$DNSMASQ_BLACKHOLE_REDIRECT/32,,$target,DNAT,$target,30443,Blackhole redirection,off,
on,udp&tcp,,,$DNSMASQ_BLACKHOLE_REDIRECT/32,,$target,DNAT,$target,30080,Blackhole redirection,off,
    #if $zone != "VPN:ANY"
on,tcp,443,,$DNSMASQ_BLACKHOLE_REDIRECT/32,,ZONEMEMBERS:$zone,DNAT,$target,30443,Blackhole redirection,off,
on,udp&tcp,,,$DNSMASQ_BLACKHOLE_REDIRECT/32,,ZONEMEMBERS:$zone,DNAT,$target,30080,Blackhole redirection,off,
    #end if
  #end for
#end if
