#*


# creates generic iptables string options


*#
#def iptables
-t nat #slurp
  #if $target == 'RETURN'
-I #slurp
  #else
-A #slurp
  #end if
PROXIES #slurp
  #if $src_ip == ''
-s 0/0 #slurp
  #else
-s $src_ip #slurp
  #end if
  #if $dst_ip == ''
-d 0/0 #slurp
  #else
-d $dst_ip #slurp
  #end if
#*


*#
  #if $proto != ''
-p $proto #slurp
    #if $proto == 'tcp' or $proto == 'udp'
      #if $dst_port != ''
--dport $dst_port #slurp
      #end if
    #end if
  #end if
  #if $mac:
-m mac --mac-source $mac #slurp
  #end if
  #if $physdev_in
-m physdev #slurp
  #end if
  #if $src_dev
    #if $physdev_in
--physdev-in $src_dev #slurp
    #else
-i $src_dev #slurp
    #end if
  #end if
#end def
#*


# LOG

*#
#if $log
  #if $target != 'RETURN'
iptables $iptables -m state --state NEW -j NFLOG --nflog-prefix 'PROXIES:${logprefix}:-'
  #end if
#end if
#*


# RULE

*#
iptables $iptables -j $target #slurp
#if $target != 'RETURN'
#if '-' in $target_port
--persistent #slurp
#end if
--to-destination $target_ip:$target_port
#end if
#*



# CUSTOMIZATION


*#
#try
#include "/var/efw/proxies/rules.custom.tmpl"
#except
#pass
#end try
