#def rule(port)
  #set chain='PROXYIN'
  #set Finout='-i'
  #set Fdir='in'
  #set Fphysdev='physdev-in'
  #set Fdport='dport'
  #if not $INPUT
    #set chain='PROXYOUT'
    #set Finout='-o'
    #set Fdir='out'
  #end if
  #if $PHYSDEV
      iptables -A $chain -j PROXYOUTGOINGFW -p tcp --$Fdport $port -m physdev --$Fphysdev $PHYSDEV
  #else if $POLICY
    iptables -A $chain -j PROXYOUTGOINGFW -p tcp --$Fdport $port -m policy --pol $POLICY --dir $Fdir
  #elif $DEVICE
    iptables -A $chain -j PROXYOUTGOINGFW -p tcp --$Fdport $port $Finout $DEVICE
  #end if
#end def
#if $getVar('PROXY_PORT', None)
$rule($PROXY_PORT)
$rule(18080)
$rule(18081)
#end if
