#if $ENABLED
  #set transparent = False
  #for $zone in $TRANSPARENT_ZONES
    #set transparent = True
on,tcp,21,,,,$zone,DNAT,$zone,2121,redirection,$LOG_FIREWALL,FTP-PROXY
on,tcp,21,,,,ZONEMEMBERS:$zone,DNAT,$zone,2121,redirection,$LOG_FIREWALL,FTP-PROXY
  #end for
  #if $transparent
    #for $bypass in $BYPASSRULES
on,tcp,21,$bypass.SRC,$bypass.DST,$bypass.MAC,,RETURN,,,bypass,,
    #end for
  #end if
#end if
