#if $ENABLED
  #set transparent = False
  #for $zone in $TRANSPARENT_ZONES
    #set transparent = True
on,tcp,110,,,,$zone,DNAT,$zone,8110,redirection pop,$LOG_FIREWALL,POP-PROXY
    #if $IGNORE_TLS == "on"
off,tcp,995,,,,$zone,DNAT,$zone,8110,redirection pop3s,$LOG_FIREWALL,POP-PROXY
    #else
on,tcp,995,,,,$zone,DNAT,$zone,8110,redirection pop3s,$LOG_FIREWALL,POP-PROXY
    #end if
on,tcp,110,,,,ZONEMEMBERS:$zone,DNAT,$zone,8110,redirection pop,$LOG_FIREWALL,POP-PROXY
    #if $IGNORE_TLS == "on"
off,tcp,995,,,,ZONEMEMBERS:$zone,DNAT,$zone,8110,redirection pop3s,$LOG_FIREWALL,POP-PROXY
    #else
on,tcp,995,,,,ZONEMEMBERS:$zone,DNAT,$zone,8110,redirection pop3s,$LOG_FIREWALL,POP-PROXY
    #end if
  #end for
  #if $transparent
    #for $bypass in $BYPASSRULES
      #if $IGNORE_TLS == "on"
on,tcp,110,$bypass.SRC,$bypass.DST,$bypass.MAC,,RETURN,,,bypass,,
      #else
on,tcp,110&995,$bypass.SRC,$bypass.DST,$bypass.MAC,,RETURN,,,bypass,,
      #end if
    #end for
  #end if
#end if
