
.autorefreshwrapper-loading {
    background: url("/toscawidgets/resources/endian.emi/static/images/loading.gif") no-repeat scroll 0 0 transparent;
    height: 16px;
    width: 16px;
    margin: auto;
    text-align: center;
}

.autorefreshwrapper-loading-hidden {
    display: none;
}

.autorefreshwrapper-content-hidden {
    display: none;
}