#*


# creates generic iptables string options

*#
#def iptables
  #if $src_ip == ''
-s 0/0 #slurp
  #else
-s $src_ip #slurp
  #end if
  #if $dst_ip == ''
-d 0/0 #slurp
  #else
-d $dst_ip #slurp
  #end if
#*


*#
  #if $proto != ''
-p $proto #slurp
    #if $proto == 'icmp'
-m limit --limit 1/second #slurp
      #if $dst_port != '':
--icmp-type $dst_port #slurp
      #end if
    #else if $proto == 'tcp' or $proto == 'udp'
      #if $dst_port != ''
--dport $dst_port #slurp
      #end if
    #end if
  #end if
  #if $mac:
-m mac --mac-source $mac #slurp
  #end if
  #if $dscp:
-m dscp --dscp $dscp #slurp
  #end if
  #if $ipsecin
-m policy --dir in --pol ipsec #slurp
  #end if
  #if $physdev_in
-m physdev #slurp
  #end if
  #if $src_dev and $src_dev != 'LOCAL'
    #if $physdev_in
--physdev-in $src_dev #slurp
    #else
-i $src_dev #slurp
    #end if
  #end if
#end def
#*

# RULE

*#

#for $chain in ['POLICYROUTING', 'LOCALPOLICYROUTING']
  #if $chain == 'POLICYROUTING' and $src_dev == 'LOCAL'
    #continue
  #end if
  #if $chain == 'LOCALPOLICYROUTING' and $mac
    #continue
  #end if
  #if $chain == 'LOCALPOLICYROUTING' and $ipsecin
    #continue
  #end if
  #if $log:
iptables -t mangle -A $chain $iptables -j NFLOG --nflog-prefix 'POLICYROUTING::$i'
  #end if
  #for $gw in $gateways
    #if $gwnum > 1
iptables -t mangle -A $chain $iptables -j CONNMARK --set-mark $gw.value/$ROUTINGMASK
#*

not yet possible
# #slurp
#-m statistic --mode nth --every $gwnum --packet $gw.nr 

*#
    #else
iptables -t mangle -A $chain $iptables -j CONNMARK --set-mark $gw.value/$ROUTINGMASK
    #end if
  #end for
iptables -t mangle -A $chain $iptables -m connmark ! --mark 0/$ROUTINGMASK -j RETURN
#end for
#try
#include "/var/efw/routing/rules.custom.tmpl"
#except
#pass
#end try
