#if $ENABLED == 'on'
47&50&51,,,on,,RED,off,IPSEC,ACCEPT,,
udp,,500&4500,on,,RED,off,IPSEC,ACCEPT,,
#if $ENABLED_GREEN == 'on' or $DS.UPLINKS.MAIN.SETTINGS.RED_TYPE == "NONE"
47&50&51,,,on,,GREEN,off,IPSEC,ACCEPT,,
udp,,500&4500,on,,GREEN,off,IPSEC,ACCEPT,,
#end if
#if $ENABLED_BLUE == 'on'
47&50&51,,,on,,BLUE,off,IPSEC,ACCEPT,,
udp,,500&4500,on,,BLUE,off,IPSEC,ACCEPT,,
#end if
#if $ENABLED_ORANGE == 'on'
47&50&51,,,on,,ORANGE,off,IPSEC,ACCEPT,,
udp,,500&4500,on,,ORANGE,off,IPSEC,ACCEPT,,
#end if
#end if
