[config]
model=ID,enabled,name,common_name,connection_type,auth_type,secret,side,local_peerid,local_subnet,remote_peerid,remote_address,remote_subnet,aggressive_mode,compression,vhost,empty,ike_lifetime,esp_keylife,ike_encryption,ike_integrity,ike_grouptype,esp_encryption,esp_integrity,esp_grouptype,only_proposed,remark,interface,dpd_action,pfs,cert_filename,ike_version,modeconfig,auto,ike_strict,esp_strict
multivalue_separator=|
