.hardware-row {
  display: flex;
  align-items: center;
  padding: 5px 0;
  border-bottom: 1px solid #ddd;
}

.hardware-label {
  flex: 1; /* Adjust as needed */
  font-weight: bold;
  width:;
}

.hardware-bar {
  flex: 2;
  height: 20px;
  background: #333;
  margin: 0 10px;
  position: relative;
  overflow: hidden;
}

.hardware-bar .used {
  display: inline-block;
  height: 100%;
  background: #00C618;  /* or any color */
}

.hardware-bar .unused {
  display: inline-block;
  height: 100%;
  background: transparent;
}

.hardware-usage, .hardware-total {
  flex: 1;
  text-align: right;
  margin-left: 10px;
}