#socketStatus {
	/*left: 22px;*/
	float: left;
	/*position: relative;*/
	/*top: 27px;*/
	margin: 0px;
	padding: 0px;
	/*content:url('/images/logo_razwall.png');*/
	cursor: pointer;
}

.socketGreen {
	content:url('/images/2025/razwall_green.png');
}

.socketYellow {
	content:url('/images/2025/razwall_yellow.png');
}

.socketRed {
	content:url('/images/2025/razwall_red.png');
}
