[config]
model = enabled,proto,src_dev,src_ip,dst_dev,dst_ip,dst_port,target_ip,target_port,nat_target,remark,log,filter_target,random

[/usr/lib/efw/dnat/config*.default]
includeType=default

[/var/emc/dnat/config]
includeType=append

[/var/run/sb/dnat/config]
includeType=append

[/etc/firewall/dnat/*.conf]
includeType=append
